body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  background-image: url("../res/vucbg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50%;
  max-height: 37.5rem;
  border-bottom: #006eb4 solid 0.625rem;
  box-shadow: #006eb4 0 8px 16px 0;
}

#banner #title {
  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  width: 150px;
  display: flex;
}

#banner #title img {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  contain: content;
  width: 50px;
}

#banner #title span {
  color: white;
  font-size: 1.2em;
  margin-top: 10%;
  text-decoration: underline;
}

#banner #moto {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: -moz-fit-content;
  width: -moz-fit-content;
  padding: 0.625rem;
  font-size: 2em;
  color: white;
  border: 0.125rem solid white;
  border-top-left-radius: 3.75rem;
  border-bottom-right-radius: 3.75rem;
}

#content {
  background-color: #006eb4;
  width: 80%;
  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.625rem;
  box-shadow: #006eb4 0 0.5rem 1rem 0;
}
#navContainer {
  z-index: 100;

  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

#nav {
  position: absolute;
  overflow: hidden;

  margin: 0;
  padding: 0;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #006eb4;
  top: 0;
  transition: 0.5s;
  transition-delay: 0.4s display;

  box-shadow: 0 5px 10px 0 black;

  text-align: center;
}

#icon-big {
  fill: #fff;
}

#navConten {
  visibility: hidden;
}

#nav:hover {
  width: 18.75rem;
  min-height: 300px;
  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  
}

#nav:hover #navConten{
  visibility: visible;
}

@media screen and (max-width: 800px) {
  #banner {
    font-size: 0.8em;
    height: 20%;
  }

  #banner #title {
    height: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    width: 9.375rem;
    display: flex;
  }

  #banner #title img {
    margin-left: 0.625rem;
    margin-top: 0.625rem;
    margin-right: 0.625rem;
    contain: content;
    width: 2.5rem;
  }

  #banner #moto {
      visibility: hidden;
  }

  #nav {
    width: 2.5rem;
    height: 2.5rem;
  }

  #content {
    width: 90%;
  }

  #close {
    width: 40px;
  
    margin-top: auto;
    margin-bottom: auto;
  }
}
