body {
    margin: 0;
}

#header {
    /* height: 50px; */
    /* display: grid; */
    display: flex;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(49, 86, 179);

    box-shadow: 0 0.25rem 0.5rem 0 black;
}

#header #title {
    display: flex;
    padding: 0.3125rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    color: white;
}

#header #title span {
    margin: 0.625rem;
}

#header .logo {
    contain: contents;
    height: 3.75rem;
}

#header #nav {
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}

#header #nav button {
    margin: 0;

    width: 10%;
    height: 100%;

    min-width: 70px;
    border: 0rem none ;
}

#header #nav button img{
    width: 80%;
    height: 80%;
}