<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div id="banner">


        <div id="title">
            <a href="http://Vansbro.se"><img src="../res/1200px-Vansbro_kommunvapen_-_Riksarkivet_Sverige.png"
                    alt=""></a>
            <span>Vansbro Utbildningscenter</span>
        </div>

        <div id="moto">
            <p>
                En liten skola <br>med stora möjligheter
            </p>
        </div>
        <div id="nav">
            <ul>
                <li><a class="navItems" href="http://">Mer Om Skolan</a></li>
                <li><a class="navItems" href="program.html"> Våra Program</a></li>
                <li><a class="navItems" href="http://"> För Elever</a></li>
                <li><a class="navItems" href="http://"> Personal På Skolan</a></li>
            </ul>

        </div>
    </div>



    <div id="content">
        <iframe src="program.html" frameborder="0" width="100%" height="100%"></iframe>
    </div>


</body>

</html>