<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div id="header">
        <div id="title">
            <img class="logo" src="../res/1200px-Vansbro_kommunvapen_-_Riksarkivet_Sverige.png" alt="">
            <span>Vansbro Utbildningscenter</span>
        </div>


        <div id="nav">
            <button id="about"></button>
            <button id="menu"></button>
        </div>
    </div>
    <div id="content">

    </div>
    <div id="footer">

    </div>
</body>

</html>