<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/skolan.css">
    <link rel="stylesheet" href="../style/program.css">
</head>

<body>
    <div id="navContainer">
        <div id="nav">
            <svg id="icon-big" xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 24 24" width="35">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" /></svg>
      

            <div id="navConten">
                <!-- inte smartaste sättet att få itemsen på stackade men det funkar XD  -->
                <a href="#program"> Våra Program</a> <br>
                <a href="#skolan"> Mer Om Skolan</a> <br>
                <a href="http://"> För Elever</a> <br>
                <a href="http://"> Personal På Skolan</a> <br>
            </div>
        </div>
    </div>

    <div id="banner">
        <div id="title">
            <a href="http://Vansbro.se"><img src="../res/1200px-Vansbro_kommunvapen_-_Riksarkivet_Sverige.png"
                    alt=""></a>
            <span>Vansbro Utbildningscenter</span>
        </div>

        <div id="moto">
            <p>
                En liten skola <br>med stora möjligheter
            </p>
        </div>

    </div>


    <div id="content">
        <div id="program">
            <div id="header">
                <span>Våra Program</span>
            </div>
            <div id="program-grid">
                <a href="/views/program/teknik.html" target="_top" class="item">
                    <div class="banner">
                        <img src="https://i.pinimg.com/originals/25/e7/2c/25e72c6653f86d62535cac3458af63cd.jpg" alt="">
                        <div class="title">Teknik</div>
                    </div>
                </a>
                <a href="program/industri.html" target="_top" class="item">
                    <div class="banner">
                        <img src="https://f.nordiskemedier.dk/2cvl5q5foe2i8pyb.jpg" alt="">
                        <div class="title">Industri</div>
                    </div>
                </a>
                <a href="program/fordon.html" target="_top" class="item">
                    <div class="banner">
                        <img src="https://stfg.stockholm.se/sites/default/files/styles/ssk_gallery_image/public/lbmek.png?itok=sisvduzu"
                            alt="">
                        <div class="title">Fordon</div>
                    </div>
                </a>
            </div>
        </div>

        <div id="skolan">
            <div id="header">
                <span>Mer Om Skolan</span>
            </div>
        </div>
    </div>


</body>

</html>