<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program</title>
    <link rel="stylesheet" href="../style/program.css">
</head>

<body>
    <div id="header">
        <span>Våra Program</span>
    </div>

    <div id="content">
        <div id="program-grid">
            <a href="" class="item">
                <div class="banner">
                    <img src="https://i.pinimg.com/originals/25/e7/2c/25e72c6653f86d62535cac3458af63cd.jpg" alt="">
                    <div class="title">Teknik</div>
                </div>
            </a>
            <a href="" class="item">
                <div class="banner">
                    <img src="https://f.nordiskemedier.dk/2cvl5q5foe2i8pyb.jpg"alt="">
                    <div class="title">Industri</div>
                </div>
            </a>
            <a href="" class="item">
                <div class="banner">
                    <img src="https://stfg.stockholm.se/sites/default/files/styles/ssk_gallery_image/public/lbmek.png?itok=sisvduzu"
                        alt="">
                    <div class="title">Fordon</div>
                </div>
            </a>
            
        </div>
</body>

</html>